<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938464753247-01m0qvr2ulj0s863ife44ih6lb6rf1g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938464753247-01m0qvr2ulj0s863ife44ih6lb6rf1g2</string>
	<key>API_KEY</key>
	<string>AIzaSyBjXw1_mWv2k6-4VcrxMI4FExGqNFMxzy8</string>
	<key>GCM_SENDER_ID</key>
	<string>938464753247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonkliukin.concentrationTracker</string>
	<key>PROJECT_ID</key>
	<string>concentration-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>concentration-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938464753247:ios:d39c4b1da0a517686b8dea</string>
	<key>DATABASE_URL</key>
	<string>https://concentration-tracker.firebaseio.com</string>
</dict>
</plist>